* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Arial, sans-serif;
}

button, a:not([href]) {
    cursor: pointer;
}

main {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

#pizzaSelection {
    flex-grow: 1;
    background-color: #ecf0f1;
    text-align: center;
    overflow: auto;
}

.pizza-tiles {
    display: flex;
    flex-wrap: wrap;
}

.pizza-tile {
    margin: 10px;
    flex: 1;
    min-width: 200px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.15s ease-out;
}

.pizza-tile:hover {
    box-shadow: 0px 0px 10px 5px rgba(41, 128, 185, 0.2);
}

.pizza-tile--selected, .pizza-tile--selected:hover {
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.25);
}

.pizza-tile__title {
    text-align: left;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #95a5a6;
}

.pizza-tile__description {
    text-align: left;
    margin: 0;
    padding: 10px;
}

.pizza-tile__avatar {
    min-width: 50px;
    padding: 10px;
    color: #ecf0f1;
    background-color: #2980b9;
}

.pizza-tile__content {
    flex-grow: 1;
    border-left: 1px solid #95a5a6;
}

.pizza-selection-divider {
    max-width: 61.9%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-size: contain;
}

#pizzaIngredients {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    padding: 15px 0;
}

.pizza-ingredients__item {
    padding: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#pizzaPreview {
    flex: none;
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    color: #ecf0f1;
    box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.pizza-preview-toggler {
    display: none;
}

.pizza-preview-scroll {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

#pizzaAnimation {
    flex-grow: 1;
}

.pizza-picture {
    margin: 0 auto;
    display: block;
    width: 70%;
}

#shoppingCart {
    border-top: 1px solid #bdc3c7;
}

.shopping-cart-list {
    margin: 0;
}

.shopping-cart-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #bdc3c7;
}

.shopping-cart-order {
    text-align: right;
}

.order-button {
    color: #ecf0f1;
    background-color: #1abc9c;
    border: none;
    margin: 15px;
    font-size: inherit;
    font-family:  inherit;
    font-weight: normal;
    padding: 10px 15px;
}

.shopping-cart-list-item-title {
    flex-grow: 1;
    min-width: 100px;
}

.shopping-cart-list-item-tools {
    min-width: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 640px) {
    #pizzaIngredients {
        width: initial;
        justify-content: space-between;
        text-align: left;
    }

    .pizza-ingredients__item {
        flex: 0 0 50%;
    }

    #pizzaPreview {
        position: fixed;
        top: 0;
        right: -90%;
        bottom: 0;
        width: 90%;
        transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    #pizzaPreview.pizza-preview--open {
        right: 0%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .pizza-preview--open .pizza-preview-toggler__icon {
        transform: rotate(180deg);
    }

    .pizza-preview-toggler {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        width: 20px;
        border: none;
        background-color: #34495e;
        color: #ecf0f1;
        height: 50px;
        padding: 0;
        border-radius: 5px 0 0 5px;
    }

    .pizza-preview-toggler__icon {
        transition: transform .25s ease
    }

    .pizza-preview-toggler:focus, .pizza-preview-toggler:active {
        outline: none;
    }
}

